
<script type="text/javascript" charset="utf-8">
    var selectedUser_GroupPermissionId = null;
    $(document).ready(function () {

        var dropdownlistSelect2TinhOption = initialDropdownlistSelect2Option();
        dropdownlistSelect2TinhOption.placeholder = "Chọn nhóm phân quyền";
        dropdownlistSelect2TinhOption.ajax = {
            type: "POST",
            url: '@Url.Action("Filter", "GroupPermission", new { area = "Admin" })',
            dataType: 'json',
            contentType: "application/json",
            delay: 250,
            data: function (params) {
                var selectedFields = 'Id, Name, IsActive';
                var condition = params.term ? ' Name.Contains(\\' + params.term + '\\) AND IsActive = True' : ' IsActive = True ';

                return JSON.stringify({
                    selectedFields: selectedFields,
                    stringFilter: condition,
                    sortCondition: 'Name asc',
                    top: 10,
                });
            },
            processResults: function (res, params) {
                var data = $.map(res, function (item, i) {
                    return {
                        id: item.Id,
                        text: item.Name
                    }
                });
                return {
                    results: data
                };
            },
            cache: true
        };
        $('#nhomPhanQuyenIds').select2(dropdownlistSelect2TinhOption);


        $("#themNhomPhanQuyenVaoUser").click(function () {
            $('#nhomPhanQuyenModal').modal('show');
        });

        $("#btnThucHienThemNhomPhanQuyenVaoUser").click(function () {
            updateUsers_GroupPermission($('#nhomPhanQuyenIds').val(), selectedDataRow.UserID);
        });

        $("#btnExecuteDeletedNhomPhanQuyen").click(function () {
            if (selectedUser_GroupPermissionId != null) {
                var data = { id: selectedUser_GroupPermissionId };
                var url = "@Url.Action("DeleteById", "Users_GroupPermission", new { area = "Admin" })";
                sendDataToURL(url, data, true, null)
                .then(function (res) {
                    if (res) {
                        notification("top right", "info", "fadeIn animated bx bx-info-circle", "", res);
                    }
                    else {
                        notification("top right", "success", "fadeIn animated bx bx-check-circle", "", "Xóa thành công.");
                        $('#confirmDeleteNhomPhanQuyenModal').modal('hide');
                        selectedUser_GroupPermissionId = null;
                        loadUser_GroupPermission(selectedDataRow.UserID);
                    }
                });
            }
        });


    });



    function updateUsers_GroupPermission(groupPermissionId, userId) {
        if (groupPermissionId && userId) {

            var data = {
                groupPermissionId: groupPermissionId,
                userId: userId
            };

            $.ajax({
                url: '@Url.Action("AddOrUpdate", "Users_GroupPermission", new { area = "Admin" })',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function () {
                    notification("top right", "info", "fadeIn animated bx bx-info-circle", "", "Không tìm thấy máy chủ.");
                    return false;
                },
                success: function (res) {
                    console.log(res);
                    if (res) {
                        notification("top right", "info", "fadeIn animated bx bx-info-circle", "", res);
                    }
                    else {
                        loadUser_GroupPermission(userId);
                    }
                }
            });
        }
    }

    function loadUser_GroupPermission(userId) {
        $('#noiDungTableNhomPhanQuyen').empty();

        if (userId) {
            run_waitMe($(".rightWidth-400"));
            var data = {
                userId: userId
            };

            $.ajax({
                url: '@Url.Action("GetListByGroupPermissionId", "Users_GroupPermission", new { area = "Admin" })',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function () {
                    stop_waitMe($(".rightWidth-400"));
                    notification("topcenter", "", "fa fa-exclamation-triangle vd_yellow", "Error", 'Không tìm thấy máy chủ');
                    return false;
                },
                success: function (res) {
                    stop_waitMe($(".rightWidth-400"));
                    if (res) {
                        res.forEach(function (item) {
                            var html = '';

                            html += '<tr>' +
                                            '<td>' + item.GroupPermissionName + '</td>' +
                                            '<td class="text-center">' +
                                            '<a href="#!" name="xoaNhomPhanQuyen" data-id="' + item.Id + '" data-rel="tooltip" data-original-title="xóa" class="btn btn-sm btn-outline-danger">' +
                                            '<i class="lni lni-trash me-0"></i></a></td>'+
                                        '</tr>';

                            $('#noiDungTableNhomPhanQuyen').append(html);

                            initialButtonInTableNoiDungTableNhomPhanQuyen();
                            //string selectedFields = "Id, Users.UserID AS UserID, GroupPermission.Id AS GroupPermissionId, GroupPermission.Name AS GroupPermissionName";
                        });
                    }
                }
            });
        }
    }



    function initialButtonInTableNoiDungTableNhomPhanQuyen() {
        $('a[name="xoaNhomPhanQuyen"]').click(function (e) {
            e.preventDefault();
            selectedUser_GroupPermissionId = $(this).data('id');
            if (selectedUser_GroupPermissionId) {
                $('#confirmDeleteNhomPhanQuyenModal').modal('show');
            }
        });
    };

</script>

<div class="switcher-wrapper">
    <div class="switcher-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0 text-uppercase" id="userName">Theme Customizer</h5>
            <button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
        </div>
        <hr>
        <div class="d-flex justify-content-end mb-2">
            <button type="button" class="btn btn-outline-primary" id="themNhomPhanQuyenVaoUser">
                <i class="lni lni-plus me-0"></i>
            </button>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <table class="table mb-0 table-striped table-hover">
                <tbody id="noiDungTableNhomPhanQuyen" style="color:#000"></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteNhomPhanQuyenModal" tabindex="-1" aria-labelledby="confirmDeleteNhomPhanQuyenModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteNhomPhanQuyenModalLabel">@Html.Raw("Thông báo")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="confirmDeleteModalContent">@Html.Raw("Bạn có chắc chắn là muốn xóa dữ liệu này?")</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnExecuteDeletedNhomPhanQuyen"><i class="lni lni-checkmark"></i>@Html.Raw("Đồng ý")</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="lni lni-ban"></i>@Html.Raw("Hủy bỏ")</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="nhomPhanQuyenModal" aria-labelledby="nhomPhanQuyenModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nhomPhanQuyenModalLabel">@Html.Raw("Nhóm phân quyền")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="#" role="form">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="form-label">Nhóm phân quyền</div>
                            <select id="nhomPhanQuyenIds" name="nhomPhanQuyenIds" class="form-control select2">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnThucHienThemNhomPhanQuyenVaoUser"><i class="lni lni-plus"></i>@Html.Raw("Thêm")</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="lni lni-ban"></i>@Html.Raw("Đóng")</button>
            </div>
        </div>
    </div>
</div>
