@model JetMedicalWebApp.Areas.Admin.Models.NewsContentViewModels

<div class="panel widget light-widget">
    <div class="panel-body" id="panelBody">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <form class="form-horizontal" action="#" id="formEN" role="form">
                    <div class="form-group row">
                        <input type="text" id="idEN" class="form-control hidden" value="@(Model.NewsContent != null ? Model.NewsContent.id : 0)">
                        <input type="text" id="codeEN" class="form-control hidden" value="@(Model.NewsContent != null ? Model.NewsContent.code : "")">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="form-label">Tên</div>
                            <input type="text" id="name" class="form-control" placeholder="tên" value="@(Model.NewsContent != null ? Model.NewsContent.name : "")">
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="form-label">Loại tin</div>
                            <select id="categoriId" name="categoriId" class="form-control select2">
                                @if (Model.NewsCategory != null)
                                {
                                    <option value="@Model.NewsCategory.id" selected> @Html.Raw(Model.NewsCategory.name) </option>
                                }
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="form-label">Mô tả ngắn</div>
                            <textarea class="form-control" cols="20" id="shorttitle" name="shorttitle" placeholder="Mô tả ngắn" rows="6">@if (Model.NewsContent != null){<text>@Html.Raw(Model.NewsContent.shorttitle != null ? Model.NewsContent.shorttitle.Replace("&nbsp;", " ") :"")</text>}</textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <textarea rows="50" class="form-control m-input" id="description" placeholder="Chi tiết">
                @if (Model.NewsContent != null)
                { <text> @Html.Raw(Model.NewsContent.description != null ? Model.NewsContent.description.Replace("&nbsp;", " ") : "") </text>}
            </textarea>
        </div>
    </div>
</div>
</div>