@using JetMedicalWebApp.Common
@model JetMedicalWebApp.Areas.Admin.Models.LichSuGuiChienDichViewModels
@{
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thông báo";
}

@section Vendors_CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/DataTables/Responsive-2.2.2/css/responsive.bootstrap.min.css")" type="text/css">
}

@section HeaderScript{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/customiseDatatable.css")" type="text/css">
}
@section Vendors_Scripts{
    <script type="text/javascript" src="@Url.Content("~/Content/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js")"></script>
}

@section FooterScript{
    <script type="text/javascript" src="@Url.Content("~/Content/js/customiseDatatable.js")"></script>
}

<script type="text/javascript" charset="utf-8">
    var selectedDataRow = null;
    var table;
    var selectedId = null;
    let userId ='@Model.UsersID';

    $(document).ready(function () {
        let resizeObserver = new ResizeObserver(() => {
            if (typeof (table) !== 'undefined') {
                table.columns.adjust();
            }
        });
        resizeObserver.observe($('#vdContentContainer')[0]);


        let selectedFields = "Id, TieuDe, TomTat, CreatedDate";

        var datatableOption = initialDatatableOption();
        datatableOption.ajax.url = '@Url.Action("GetList", "ThongBao", new { area = "Member" })';
        datatableOption.ajax.data = {
            selectedFields: function () {
                return selectedFields;
            },
            stringFilter: function () {
                let stringFilter = '';

                if (!isNullOrEmpty($('#quickSearch').val())) {
                    if (!isNullOrEmpty(stringFilter)) {
                        stringFilter += ' AND ';
                    }
                    stringFilter += "(TieuDe LIKE N'%" + $('#quickSearch').val().trim() + "%' OR TomTat LIKE N'%" + $('#quickSearch').val().trim() + "%')";
                }

                if (!isNullOrEmpty(stringFilter)) {
                    stringFilter += ' AND ';
                }

                stringFilter += "TrangThai = 1 AND UserId = " + userId;

                return stringFilter;
            }
        };


        datatableOption.drawCallback = function (settings) {
            table.columns.adjust();
        };

        datatableOption.order = [0, "DESC"];
        datatableOption.columnDefs = [
            {
                "targets": "_all",
                "orderable": false
            },
            {
                "targets": [3,4],
                className: 'dt-body-center menu-action',
                "orderable": false,
                "searchable": false,
            }
        ];

        datatableOption.columns = [
            { "data": "Id", "name": "Id", "autoWidth": true, "title": "Id" },
            { "data": "TieuDe", "name": "TieuDe", "autoWidth": true, "title": "Tiêu đề" },
            { "data": "TomTat", "name": "TomTat", "autoWidth": true, "title": "Tóm tắt" },
            { "data": "CreatedDate", "name": "CreatedDate", "autoWidth": true, "title": "Ngày thông báo" },
            {
                "data": "Status", "name": "Status", "title": "Action", "mRender": function (data, type, row, meta) {
                    var content = '';
                    content = '<a href="#!" data-id=' + row.Id + ' onclick=xemChiTiet(this) class="btn menu-icon vd_bg-yellow"> <i class="fa fa-eye"></i> </a>';
                    return content;
                }, width: "30px"
            }
        ]
        table = $('#dtTable').DataTable(datatableOption);

        $('#dtTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

    });

    function resetCheckboxAndDatatable() {
        table.draw();
        selectedDataRow = null;
    }

    function xemChiTiet(data) {
        var id = $(data).data('id');
        viewUrl('@Url.Action("XemChiTiet", "ThongBao", new { area = "Member" })?id=' + id);
    }
</script>

<div class="vd_content clearfix">
    @Html.Partial("_PartialContentHeader")

    <div class="vd_content-section clearfix">
        <div class="row">
            <div class="col-md-12 mgbt-md-20 mgbt-lg-0">
                <div class="panel widget light-widget">
                    <div class="panel-heading no-title">
                        <div class="vd_menu-search table-search input-group input-border">
                            <input type="text" id="quickSearch"  class="form-control" placeholder="Tìm kiếm" onchange="resetCheckboxAndDatatable()">
                            <span class="input-group-addon no-bd no-bg"><i class="fa fa-search"></i> </span>
                        </div>

                        <div class="vd_panel-menu">
                            <div id="btnRefreshData" class="menu entypo-icon largerFont" data-placement="bottom" data-toggle="tooltip" data-original-title="Làm mới" onclick="resetCheckboxAndDatatable()"> <i class="icon-cycle"></i> </div>
                        </div>
                    </div>
                    <div class="panel-body" id="panelBody">
                        <div class="row">
                            <table id="dtTable" class="table table-bordered dt-responsive table-hover nowrap" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("PartialConfirmDeleteModal")
