@using JetMedicalWebApp.Common
@model JetMedicalWebApp.Areas.Admin.Models.NewsContentViewModels
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_SnailSoft.cshtml";
}

@section Vendors_CSS{
    <link rel="stylesheet" href="@Url.Content("~/content/css/select2.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/bootstrap-datepicker-1-6-4/css/bootstrap-datepicker3.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")" />

}

@section HeaderScript{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/customiseSelect2.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/customiseDatetimepicker.css")" type="text/css">

}


@section Vendors_Scripts{
    <script type="text/javascript" src="@Url.Content("~/content/js/select2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap-datetimepicker/moment/js/moment-with-locales.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/bootstrap-datepicker-1-6-4/js/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/bootstrap-datepicker-1-6-4/locales/bootstrap-datepicker.vi.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")"></script>
}



@section FooterScript{
    <script type="text/javascript" src="@Url.Content("~/Content/js/customiseSelect2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/ckfinder/ckfinder.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/js/customiseDatepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/js/customiseDatetimepicker.js")"></script>
}

<script>
    var newsContent = null;
    @if(Model.NewsContent != null)
    {
        <text>
    newsContent = {
        id: '@Model.NewsContent.id'
    };
    </text>
    }

    $(document).ready(function () {
        $('.datepicker').datepicker(initialDatepickerOption());
        $("#imagePreview").click(function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                if ($('#imagePreview').hasClass("d-none")) {
                    $('#imagePreview').removeClass("d-none");
                }
                $('#imagePreview').attr('src', url);
            };
            finder.popup();
        });

        CKEDITOR.replace('description', {
            customConfig: '/Content/ckeditor/config.js',
            extraPlugins: 'embed,embedbase,widget',
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',
        });

         var dropdownlistSelect2Option = initialDropdownlistSelect2Option();
            dropdownlistSelect2Option.placeholder = "";
            dropdownlistSelect2Option.ajax = {
                type: "POST",
                url: '@Url.Action("FilterParent", "NewsCategory")',
                dataType: 'json',
                contentType: "application/json",
                delay: 250,
                data: function (params) {
                    var selectedFields = 'id, name, typeId, parent_ids';
                    var condition = 'AND typeId NOT IN (@CommonConstants.CategoryGoiKhamVN,@CommonConstants.CategoryGoiKhamEN,@CommonConstants.CategoryDichVuVN,@CommonConstants.CategoryDichVuEN)  AND languageId = ' + $('#languageId').val();
                    condition += params.term ? "AND (name LIKE N'%" + params.term.trim() + "%')" : '';

                    return JSON.stringify({
                        selectedFields: selectedFields,
                        stringFilter: condition,
                        top: 20
                    });
                },
                processResults: function (res, params) {
                    var data = $.map(res, function (item, i) {
                        var space = '';

                        if (!isNullOrEmpty(item.parent_ids)) {
                            console.log(item.parent_ids.split(',').length)
                            space = hienThiPhanBacV2(item.parent_ids.split(',').length);
                        }
                        return {
                            id: item.id,
                            text: space + item.name
                        }
                    });

                    data.unshift({
                        id: -1,
                        text: ""
                    })

                    return {
                        results: data
                    };
                },
                cache: true
            };

            dropdownlistSelect2Option.escapeMarkup = function (markup) {
                return markup;
            }

        $('#categoriId').select2(dropdownlistSelect2Option);



        var dropdownlistSelectDepartment2Option = initialDropdownlistSelect2Option();
        dropdownlistSelectDepartment2Option.placeholder = "Chọn chuyên khoa";
        dropdownlistSelectDepartment2Option.ajax = {
            type: "POST",
            url: '@Url.Action("Filter", "Department", new { area = "Admin" })',
            dataType: 'json',
            contentType: "application/json",
            delay: 250,
            data: function (params) {
                var selectedFields = "id, name, languageId, isActive";
                var condition = 'isActive == true';
                if(params.term) {
                    condition += "AND (name LIKE N'%" + $('#quickSearch').val().trim() + "%')";
                }

                return JSON.stringify({
                    selectedFields: selectedFields,
                    stringFilter: condition,
                    sortCondition: 'name asc',
                    top: 25,
                });
            },
            processResults: function (res, params) {
                var data = $.map(res, function (item, i) {
                    return {
                        id: item.id,
                        text: item.name
                    }
                });
                return {
                    results: data
                };
            },
            cache: true
        };
        $('#departmentId').select2(dropdownlistSelectDepartment2Option)

        $('#btnTroLai').click(function () {
            window.location.href = "@Url.Action("Index", "NewsContent", new { area = "Admin" })";
        });

        $('#btnXoa').click(function () {
            $('#confirmDeleteDataRowModal').modal('show');
        });

        $('#btnExecuteDeleted').click(function (e) {
            e.preventDefault();

            var data = { ids: newsContent != null ? newsContent.id : "" };
            var url = "@Url.Action("DeleteByIds", "NewsContent", new { area = "Admin" })";

            sendDataToURL(url, data, true, null)
            .then(function (res) {
                if (res) {
                    notification("top right", "error", "fadeIn animated bx bx-error", "", res);
                }
                else {
                    if (res == null) {
                        notification("top right", "error", "fadeIn animated bx bx-error", "", "Bạn không được phép thực hiện thao tác này");
                    }
                    else if (res == "") {
                        $('#confirmDeleteDataRowModal').modal('hide');
                        notification("top right", "success", "fadeIn animated bx bx-check-circle", "", "Xóa thành công");
                        window.location.href = "@Url.Action("Index", "NewsContent", new { area = "Admin" })";
                    }
                }
            });
        });

        $('#name').on('keyup', function () {
            var slug = toSlug($(this).val());
            $('#slug').val(slug);
        });

        $("#btnCapNhat").click(function (e) {
            e.preventDefault();

            if (checkFormUpdate()) {
                var url = "@Url.Action("AddOrUpdate", "NewsContent", new { area = "Admin" })";

                var values = {
                    id: $('#id').val(),
                    code: $('#code').val(),
                    name: $('#name').val(),
                    slug: $('#slug').val(),
                    title: $('#title').val(),
                    keywords: $('#keywords').val(),
                    descriptions: $('#descriptions').val(),
                    categoriId: $('#categoriId').val(),
                    shorttitle: $('#shorttitle').val(),
                    position: $('#position').val(),
                    isactive: $('#active').is(':checked'),
                    ishot: $('#ishot').is(':checked'),
                    approved: $('#approved').is(':checked'),
                    ActivePhone: $('#ActivePhone').is(':checked'),
                    avatar: $('#imagePreview').attr('src'),
                    tags: $('#tag').val(),
                    description: CKEDITOR.instances.description.getData(),
                    GoiKham: $('#packageId').val(),
                    DepartmentId: !isNullOrEmptySelect2($('#departmentId').val()) ? $('#departmentId').val() : -1,
                    created_at: $('#ngayTao').val(),
                    languageId: $('#languageId').val()
                };

                var data = {
                    listItem: [values]
                };

                var url = "@Url.Action("AddOrUpdate", "NewsContent", new { area = "Admin" })";
                sendDataToURL(url, data, true, null)
                .then(function (res) {
                    if (res) {
                        notification("top right", "error", "fadeIn animated bx bx-error", "", res);
                    }
                    else {
                        $('#form')[0].reset();
                        $('#imagePreview').attr('src', '');
                        showNotificationAndAskModal('Thông báo', 'Cập nhật thành công.');
                    }
                });
            }
        });


        $("button[name='btnTroVeDanhSach']").click(function (e) {
            e.preventDefault();
            window.location.href = '@Url.Action("Index", "NewsContent", new { area = "Admin" })';
        });

        $('#packageId').tagsInput({
            placeholder: 'Chọn Gói khám',
            unique: true,
            clearText: true,
            delimiter: ';',
            errorMessage: 'Gói khám này đã tồn tại.',
            errorTitle: 'Lỗi',
            autocomplete: {
                source: function (request, response) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("FilterByView", "NewsContent", new { area = "Admin" })',
                        dataType: 'json',
                        contentType: "application/json",
                        delay: 250,
                        data: JSON.stringify({
                            selectedFields: 'id, name',
                            stringFilter: 'TypeId IN (@CommonConstants.CategoryGoiKhamVN,@CommonConstants.CategoryGoiKhamEN) AND languageId  = ' + $('#languageId').val() + ' AND isactive = 1' + (request.term ? "AND (name LIKE N'%" + request.term.trim() + "%')" : ''),
                            sortCondition: 'id asc',
                            top: 10,
                        }),

                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    value: item.id,
                                    label: item.id + ' - ' + item.name
                                };
                            }));
                        }
                    })
                }
            }
        });

        $('#languageId').change(function () {
            let url = '@Url.Action("Update", "NewsContent", new { area = "Admin" })?id=' + $('#id').val() + '&languageId=' + $('#languageId').val();
            window.location.href = url;
        })
    });

    function checkFormUpdate() {
        var check = true;
        var error = "";

        if (isNullOrEmptySelect2($('#categoriId').val()) && isNullOrEmptySelect2($('#categoriId').val())) {
            error = "Chưa chọn loại tin.";
            check = false;
        }

        if (!check) {
            notification("top right", "info", "fadeIn animated bx bx-info-circle", "", error);
        }

        return check;
    }

</script>


<div class="d-flex justify-content-between">
    @Html.Partial("_PartialContentHeader")
    <div class="mb-3">
        <button class="btn buttons-excel buttons-html5 btn-secondary" id="btnTroLai" tabindex="0" aria-controls="example2" type="button"><i class="fadeIn animated bx bx-arrow-back"></i><span> Trở lại danh sách</span></button>

        @if (Model.Menu_GroupPermission.SystemDelete == true && Model.NewsContent != null)
        {
            <button class="btn buttons-excel buttons-html5 btn-danger" id="btnXoa" tabindex="0" aria-controls="example2" type="button"><i class="fadeIn animated bx bx-trash-alt"></i><span> Xoá</span></button>
        }

        <button class="btn buttons-excel buttons-html5 btn-primary" id="btnCapNhat" tabindex="0" aria-controls="example2" type="button"><i class="fadeIn animated bx bx-save"></i><span> Lưu</span></button>
    </div>
</div>

<form id="form">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs nav-primary" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-toggle="tab" href="#formData_ThongTin" role="tab" aria-selected="false">
                        <div class="d-flex align-items-center">
                            <div class="tab-icon">
                                <i class='bx bx-home-alt font-18 me-1'></i>
                            </div>
                            <div class="tab-title">Thông tin</div>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#formData_SEO" role="tab" aria-selected="false">
                        <div class="d-flex align-items-center">
                            <div class="tab-icon">
                                <i class='bx bx-dollar font-18 me-1'></i>
                            </div>
                            <div class="tab-title">SEO</div>
                        </div>
                    </a>
                </li>

            </ul>
            <div class="tab-content py-3">
                <div class="tab-pane fade show active" id="formData_ThongTin" role="tabpanel">
                    <div class="row g3">
                        <div class="col-md-9 mb-2">
                            <div class="row d-flex">
                                <input type="text" id="id" class="form-control" hidden value="@(Model.NewsContent != null ? Model.NewsContent.id : 0)">
                                <input type="text" id="code" class="form-control" hidden value="@(Model.NewsContent != null ? Model.NewsContent.code : "")">

                                <div class="col-md-12 mb-2">
                                    <label for="languageId" class="form-label">@Html.Raw("Ngôn ngữ")</label>
                                    <select class="form-select select2-local" id="languageId">
                                        @foreach (var item in CommonConstants.GetDanhSachNgonNgu())
                                        {
                                            <option value="@item.Id" @(Model.NewsContent != null ? (Model.NewsContent.languageId == item.Id ? "selected" : "") : (item.Id == Model.LanguageId ? "selected" : ""))>@Html.Raw(item.Name)</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-md-12 mb-2">
                                    <label for="name" class="form-label">@Html.Raw("Tên")</label>
                                    <input class="form-control" id="name" name="name" placeholder="Tên" value="@(Model.NewsContent != null ? Model.NewsContent.name : "")">
                                </div>

                                <div class="col-md-12 mb-2">
                                    <label for="tag" class="form-label">@Html.Raw("Tags")</label>
                                    <input class="form-control" id="tag" name="tag" placeholder="Tags" data-role="tagsinput" value="@(Model.NewsContent != null ? Model.NewsContent.Tags : "")">
                                </div>

                                <div class="col-md-12 mb-2">
                                    <label for="ngayTao" class="form-label">@Html.Raw("Ngày tạo")</label>
                                    <input class="form-control datepicker" id="ngayTao" name="ngayTao" placeholder="Ngày tạo" value="@(Model.NewsContent != null ? Model.NewsContent.created_at : DateTime.Now.ToString("yyyy-MM-dd"))">
                                </div>

                                <div class="col-md-12 mb-2">
                                    <label for="categoriId" class="form-label">@Html.Raw("Loại tin")</label>
                                    <select id="categoriId" name="categoriId" class="form-control select2">
                                        @if (Model.NewsCategory != null)
                                        {
                                            <option value="@Model.NewsCategory.id" selected> @Html.Raw(Model.NewsCategory.name) </option>
                                        }
                                    </select>
                                </div>

                                <div class="col-md-12 mb-2">
                                    <label for="departmentId" class="form-label">@Html.Raw("Chuyên khoa")</label>
                                    <select id="departmentId" name="departmentId" class="form-control select2">
                                        @if (Model.Department != null)
                                        {
                                            <option value="@Model.Department.id" selected> @Html.Raw(Model.Department.name) </option>
                                        }
                                    </select>

                                </div>


                                <div class="col-md-12 mb-2">
                                    <label for="packageId" class="form-label">@Html.Raw("Gói khám/dịch vụ kèm theo")</label>
                                    <input class="form-control" id="packageId" name="packageId" placeholder="Gói khám/dịch vụ kèm theo" value="@(Model.NewsContent != null ? Model.NewsContent.GoiKham : string.Empty)">
                                </div>

                                <div class="col-md-12 mb-2">
                                    <label for="shorttitle" class="form-label">@Html.Raw("Mô tả ngắn")</label>
                                    <textarea class="form-control" cols="20" id="shorttitle" name="shorttitle" placeholder="Mô tả ngắn" rows="6">@if (Model.NewsContent != null){<text>@Html.Raw(Model.NewsContent.shorttitle != null ? Model.NewsContent.shorttitle.Replace("&nbsp;", " ") : "")</text>}</textarea>
                                </div>

                                <div class="col-md-3 mb-2">
                                    <label for="position" class="form-label">@Html.Raw("Position")</label>
                                    <input type="number" id="position" class="form-control" placeholder="position" value="@(Model.NewsContent != null ? Model.NewsContent.position : 0)">
                                </div>

                                <div class="col-md-3 mb-2 d-flex align-items-end pb-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="active" @(Model.NewsContent != null ? Model.NewsContent.isactive ? "checked" : "" : "")>
                                        <label class="form-check-label" for="active">@Html.Raw("Kích hoạt")</label>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-2 d-flex align-items-end pb-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="approved" @(Model.NewsContent != null ? Model.NewsContent.approved ? "checked" : "" : "")>
                                        <label class="form-check-label" for="approved">@Html.Raw("Phê duyệt")</label>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-2 d-flex align-items-end pb-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="ishot" @(Model.NewsContent != null ? Model.NewsContent.ishot ? "checked" : "" : "")>
                                        <label class="form-check-label" for="ishot">@Html.Raw("Tin nổi bật")</label>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-2 d-flex align-items-end pb-1 d-none">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="ActivePhone" @(Model.NewsContent != null ? Model.NewsContent.ActivePhone ? "checked" : "" : "")>
                                        <label class="form-check-label" for="ActivePhone">@Html.Raw("Active Phone")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="form-img text-center mgbt-xs-15">
                                <img id="imagePreview" src="@(Model.NewsContent != null && !string.IsNullOrEmpty(Model.NewsContent.avatar) ?Url.Content(Model.NewsContent.avatar) : CommonConstants.FileNoImage)" alt="Image" width="300" height="300" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="formData_SEO" role="tabpanel">
                    <div class="row d-flex">
                        <div class="col-md-6 mb-2">
                            <label for="title" class="form-label">@Html.Raw("Meta title")</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="meta_title_counter">70</span>
                                <input type="text" class="form-control" placeholder="Title" aria-label="meta_title_counter" aria-describedby="meta_title_counter" data-maxchar="70" value="@(Model.NewsContent != null ? Model.NewsContent.title : "")" id="title" name="title">
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="keywords" class="form-label">@Html.Raw("Meta keyword")</label>
                            <div class="input-group mb-3 d-flex flex-nowrap">
                                <span class="input-group-text" id="meta_title_counter">160</span>
                                <input type="text" class="form-control" placeholder="Keyword" aria-label="meta_title_counter" aria-describedby="meta_title_counter" data-maxchar="160" data-role="tagsinput" value="@(Model.NewsContent != null ? Model.NewsContent.keywords : "")" id="keywords" name="keywords">
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="title" class="form-label">@Html.Raw("Meta description")</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="meta_description_counter">160</span>
                                <input type="text" class="form-control" placeholder="Description" aria-label="meta_description_counter" aria-describedby="meta_description_counter" data-maxchar="160" value="@(Model.NewsContent != null ? Model.NewsContent.descriptions : "")" id="descriptions" name="descriptions">
                            </div>
                        </div>

                        <div class="col-md-6 mb-2">
                            <label for="slug" class="form-label">@Html.Raw("Friendly URL")</label>
                            <input class="form-control" id="slug" name="slug" placeholder="Friendly URL" value="@(Model.NewsContent != null ? Model.NewsContent.slug : string.Empty)">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-2">
                <label for="description" class="form-label">@Html.Raw("Chi Tiết")</label>
                <textarea rows="50" class="form-control m-input" id="description" placeholder="Chi tiết">
                    @if (Model.NewsContent != null && !string.IsNullOrEmpty(Model.NewsContent.description))
                    {
                        @Html.Raw(Model.NewsContent.description != null ? Model.NewsContent.description.Replace("&nbsp;", " ") : "")
                    }
                </textarea>
            </div>
        </div>
    </div>
</form>


@Html.Partial("PartialConfirmDeleteModal")
@Html.Partial("_PartialNotificationModal")
@Html.Partial("_PartialNotificationAndAskOperationModal")
