<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Snail Soft</title>
    <meta name="keywords" content="Hệ thống crm y tế, hungtv" />
    <meta name="description" content="Quản trị hệ thống">
    <meta name="author" content="Hungtv">
    <!--favicon-->
    <link rel="icon" href="~/Content/snailsoft/assets/images/favicon-32x32.png" type="image/png" />
    <!--plugins-->
    <link href="@Url.Content("~/Content/snailsoft/plugins/jquery-ui/jquery-ui.custom.min.css")" rel="stylesheet" type="text/css">
    <link href="~/Content/snailsoft/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="~/Content/snailsoft/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/Content/snailsoft/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Content/snailsoft/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <link href="~/Content/snailsoft/assets/plugins/fancy-file-uploader/fancy_fileupload.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/snailsoft/assets/plugins/notifications/css/lobibox.min.css" />
    <link href="~/Content/snailsoft/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/Content/snailsoft/assets/plugins/input-tags/css/tagsinput.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Tags-Input-Autocomplete/src/jquery.tagsinput-revisited.css")" rel="stylesheet" />
    <!-- loader-->
    <link href="~/Content/snailsoft/assets/css/pace.min.css" rel="stylesheet" />
    <script src="~/Content/snailsoft/assets/js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="~/Content/snailsoft/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/snailsoft/assets/css/app.css" rel="stylesheet">
    <link href="~/Content/snailsoft/assets/css/icons.css" rel="stylesheet">
    <!-- Theme Style CSS -->
    <link rel="stylesheet" href="~/Content/snailsoft/assets/css/dark-theme.css" />
    <link rel="stylesheet" href="~/Content/snailsoft/assets/css/semi-dark.css" />
    <link rel="stylesheet" href="~/Content/snailsoft/assets/css/header-colors.css" />
    <link rel="stylesheet" href="~/Content/css/customiseThemeSmailsoft.css" />

    @RenderSection("Vendors_CSS", false)


    <!-- JQUERy -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/snailsoft/js/bootstrap.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @RenderSection("HeaderScript", false)

</head>

<body>
    <!--wrapper-->
    <div class="wrapper">
        <div class="sidebar-wrapper" data-simplebar="true">

            <!--navigation-->
            @Html.Partial("_PartialLeftSideBar")

            <!--end navigation-->
        </div>
        <!--end sidebar wrapper -->
        <!--start header -->
        <header>
            @{Html.RenderAction("_PartialTopNavigationBar", "TopNavigation", new { area = "Member" }); }

        </header>
        <!--end header -->
        <!--start page wrapper -->
        <div class="page-wrapper">
            <div class="page-content" id="vdContentContainer">
                @RenderBody()
            </div>
        </div>
        <div class="overlay toggle-icon"></div>
        <!--end overlay-->
        <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->
        <footer class="page-footer">
            @Html.Partial("_PartialFooter")
        </footer>
    </div>

    <div class="modal fade" id="viewUrlModal" aria-labelledby="viewUrlModalLabel" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row" id="viewUrlModalContent"></div>
                </div>
            </div>
        </div>
    </div>





    <!--end switcher-->
    <!-- Bootstrap JS -->
    <script src="~/Content/snailsoft/assets/js/bootstrap.bundle.min.js"></script>
    <!--plugins-->
    @*<script src="~/Content/snailsoft/assets/js/jquery.min.js"></script>*@
    <script src="~/Content/snailsoft/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/Content/snailsoft/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="~/Content/snailsoft/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/Content/snailsoft/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/snailsoft/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>


    <!-- Vector map JavaScript -->
    <script src="~/Content/snailsoft/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Content/snailsoft/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>

    <!--notification js -->
    <script src="~/Content/snailsoft/assets/plugins/notifications/js/lobibox.min.js"></script>
    <script src="~/Content/snailsoft/assets/plugins/notifications/js/notifications.min.js"></script>
    <script src="~/Content/snailsoft/assets/plugins/notifications/js/notification-custom-script.js"></script>

    <!-- tag input -->
    <script src="~/Content/snailsoft/assets/plugins/input-tags/js/tagsinput.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Tags-Input-Autocomplete/src/jquery.tagsinput-revisited.js")"></script>

    <!--app JS-->
    <script src="~/Content/snailsoft/assets/js/app.js"></script>
    <script src="~/Content/snailsoft/assets/plugins/fancy-file-uploader/jquery.fancy-fileupload.js"></script>
    <!-- js template cu -->
    <script type="text/javascript" src="@Url.Content("~/Content/snailsoft/plugins/blockUI/jquery.blockUI.js")"></script>


    <!-- Specific Page Scripts Put Here -->
    @RenderSection("Vendors_Scripts", false)

    @RenderSection("FooterScript", false)
</body>
</html>
