@model JetMedicalWebApp.Areas.Admin.Models.KhoaViewModels
@{
    ViewBag.Title = "Khoa";
    Layout = "~/Areas/Admin/Views/Shared/_SnailSoft.cshtml";
}

@section Vendors_CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/DataTables/Responsive-2.2.2/css/responsive.bootstrap.min.css")" type="text/css">
}

@section HeaderScript{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/customiseDatatable.css")" type="text/css">
}
@section Vendors_Scripts{
    <script type="text/javascript" src="@Url.Content("~/Content/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js")"></script>
}

@section FooterScript{
    <script type="text/javascript" src="@Url.Content("~/Content/js/customiseDatatable.js")"></script>
}

<script type="text/javascript" charset="utf-8">
    var selectedDataRow = null;
    var table;
    var dataListId = [];
    let userId ='@Model.UsersID';
    let suaHeThong=@if (Model.Menu_GroupPermission.SystemEdit == true) { <text>true</text>} else { <text>false</text>};
    let suaCaNhan=@if (Model.Menu_GroupPermission.PersonalEdit == true) { <text>true</text>} else { <text>false</text>};
    let xemHeThong=@if (Model.Menu_GroupPermission.SystemView == true) { <text>true</text>} else { <text>false</text>};
    let xemCaNhan=@if (Model.Menu_GroupPermission.PersonalView == true) { <text>true</text>} else { <text>false</text>};
    let xoaHeThong=@if (Model.Menu_GroupPermission.SystemDelete == true) { <text>true</text>} else { <text>false</text>};
    let xoaCaNhan=@if (Model.Menu_GroupPermission.PersonalDelete == true) { <text>true</text>} else { <text>false</text>};

    $(document).ready(function () {
        let resizeObserver = new ResizeObserver(() => {
            if (typeof (table) !== 'undefined') {
                table.columns.adjust();
            }
        });
        resizeObserver.observe($('#vdContentContainer')[0]);


        let selectedFields = "Id, Code, Name, (CreatedUsers != null ? CreatedUsers.UserID : -1) AS CreatedUserID";

        var datatableOption = initialDatatableOption();
        datatableOption.ajax.url = '@Url.Action("GetList", "Khoa", new { area = "Admin" })';
        datatableOption.ajax.data = {
            selectedFields: function () {
                return selectedFields;
            },
            stringFilter: function () {
                let stringFilter = '';

                if (!isNullOrEmpty($('#quickSearch').val())) {
                    if (!isNullOrEmpty(stringFilter)) {
                        stringFilter += ' AND ';
                    }
                    stringFilter += 'Name.Contains("' + $('#quickSearch').val() + '")';
                }

                if (xemHeThong == false && (xemCaNhan == true)) {
                    if (!isNullOrEmpty(stringFilter)) {
                        stringFilter += ' AND ';
                    }
                    stringFilter += 'CreatedUserID =' + userId;
                }

                return stringFilter;
            }
        };


        datatableOption.drawCallback = function (settings) {
            table.columns.adjust();
        };

        datatableOption.initComplete = function () {
            this.api().columns().every(function (index) {
                var headerName = $(this.header()).text();
                var column = this;
                if (index == 0) {
                    $(column.header()).html('<div class="controls"><div class="vd_checkbox checkbox-success">\
                                <input type="checkbox" id="checkbox-select-all">\
                                <label for="checkbox-select-all"></label>\
                            </div></div>');
                }

                table.columns.adjust();
            });

            $('#checkbox-select-all').off('change').on('change', function () {
                $('#dtTable tbody input:checkbox[name="checkboxSelected"]').prop('checked', this.checked);
            });
        };

        datatableOption.order = [[0, "ASC"]];
        datatableOption.columnDefs = [
            {
                "targets": "_all",
                "orderable": false
            },
            {
                "targets": [0],
                className: 'dt-body-center',
                "searchable": false
            },
            {
                "targets": [2],
                className: 'dt-body-center menu-action',
                "orderable": false,
                "searchable": false,
                @if (Model.Menu_GroupPermission != null && !Model.Menu_GroupPermission.AllowUpdate)
                {
                    <text>
                    visible: false
                </text>
                }
            },
            {
                "targets": [3],
                className: 'dt-body-center menu-action',
                "orderable": false,
                "searchable": false,
                @if (Model.Menu_GroupPermission != null && !Model.Menu_GroupPermission.AllowDelete)
                {
                    <text>
                    visible: false
                </text>
                }
            }
        ];

        datatableOption.columns = [
            {
                "width": "20px", "data": "Id", "name": "Id", "autoWidth": true,
                "render": function (data, type, full, meta) {
                    return '<div class="controls"><div class="vd_checkbox checkbox-success">\
                            <input type="checkbox" id="checkboxSelected_' + full.Id + '" name="checkboxSelected">\
                            <label for="checkboxSelected_' + full.Id + '"></label>\
                        </div></div>';
                }
            },
            { "data": "Name", "name": "Name", "autoWidth": true, "title": "Tên" },
            {
                "data": "Id", "mRender": function (data, type, row, meta) {
                    let html = '';
                    if (suaHeThong == true || (suaCaNhan == true && row.CreatedUserID == userId)) {
                        html = '<div class="d-flex order-actions"><a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btnEdit" href="javascript:void(0)"> <i class="bx bxs-edit"></i> </a></div>';
                    }
                    return html;
                },width: "30px"
            },
            {
                "data": "Id", "mRender": function (data, type, row, meta) {
                    let html='';
                    if (xoaHeThong == true || (xoaCaNhan == true && row.CreatedUserID == userId)) {
                        html = '<div class="d-flex order-actions"><a data-original-title="delete" data-toggle="tooltip" data-placement="top" class="" onclick=deleteDataRow(' + row.Id + ')> <i class="bx bxs-trash"></i> </a></div>';
                    }
                    return html;
                }, width: "30px"
            }
        ]

        table = $('#dtTable').DataTable(datatableOption);

        $('#dtTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
            selectedDataRow = table.row($(this)).data();
        });

        $('#dtTable tbody').on('click', 'tr td.menu-action >  .order-actions >a.btnEdit', function () {
            selectedDataRow = table.row($(this).parents('tr')).data();
            $('#FormUpdate_Code').val(selectedDataRow.Code);
            $('#FormUpdate_Name').val(selectedDataRow.Name);

            $('#addOrUpdateModal').modal('show');
        });

        $("#btnRefreshData").click(function () {
            resetCheckboxAndTable();
        });

        $("#btnAdd").click(function () {
            selectedDataRow = null;
            $('#formUpdate')[0].reset();
            $('#addOrUpdateModal').modal('show');
        });

        $("#btnThucHienLuu").click(function () {
            addOrUpdate(selectedDataRow);
        });

        $('#btnDelete').click(function () {
            dataListId = [];
            dataListId = $(table.$('input:checkbox[name="checkboxSelected"]').map(function () {
                return $(this).prop("checked") ? table.rows($(this).closest('tr')).data()[0].Id : null;
            }));

            if (dataListId.length > 0) {
                $('#confirmDeleteDataRowModal').modal('show');
            } else {
                notification("topcenter", "", "fa fa-exclamation-triangle vd_yellow", "", "Bạn chưa chọn dòng nào để xóa.");
            }
        });

        $('#btnExecuteDeleted').click(function (e) {
            e.preventDefault();

            if (dataListId.length > 0) {
                var data = { ids: dataListId.length == 1 ? dataListId[0] : dataListId.toArray() };
                var url = "@Url.Action("DeleteByIds", "Khoa", new { area = "Admin" })";

                sendDataToURL(url, data, true, null)
                .then(function (res) {
                    if (res) {
                        notification("top right", "info", "fadeIn animated bx bx-info-circle", "", res);
                    }
                    else {
                        notification("top right", "success", "fadeIn animated bx bx-check-circle", "", "Xóa thành công.");
                        $('#confirmDeleteDataRowModal').modal('hide');
                        resetCheckboxAndTable();
                    }
                });
            }
        });
    });

    function deleteDataRow(id) {
        dataListId.push(id);
        $('#confirmDeleteDataRowModal').modal('show');
    }

    function resetCheckboxAndTable() {
        table.draw();
        $('#formUpdate')[0].reset();
        dataListId = [];
        $('#checkbox-select-all').prop('checked', false);
        selectedDataRow = null;
    }

    function addOrUpdate(selectedDataRow) {
        if (checkFormUpdate()) {
            var fields = [
                'Code',
                'Name'
            ];
            var values = [
                $('#FormUpdate_Code').val(),
                $('#FormUpdate_Name').val()
            ];
            var data = {
                id: selectedDataRow != null ? selectedDataRow.Id : null,
                fields: fields,
                values: values
            };
            var url = "@Url.Action("AddOrUpdate", "Khoa", new { area = "Admin" })";

            sendDataToURL(url, data, true, null)
            .then(function (res) {
                if (res) {
                    notification("top right", "info", "fadeIn animated bx bx-info-circle", "", res);
                }
                else {
                    //$('#addOrUpdateModal').modal('hide');
                    notification("top right", "success", "fadeIn animated bx bx-check-circle", "", "Cập nhật thành công.");
                    resetCheckboxAndTable();
                }
            });
        }
    }


    function checkFormUpdate() {
        let check = true;
        let error = '';

        if (isNullOrEmpty($('#FormUpdate_Code').val())) {
            check = false;
            error = 'Bạn chưa nhập mã';
        }

        if (isNullOrEmpty($('#FormUpdate_Name').val())) {
            check = false;
            error = 'Bạn chưa nhập tên';
        }

        if (!check) {
            notification("top right", "error", "fadeIn animated bx bx-error", "", error);
        }

        return check;
    }

</script>




@Html.Partial("_PartialContentHeader")

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap5">

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dt-buttons btn-group">
                            <div id="example2_filter" class="dataTables_filter">
                                <label>
                                    Search:
                                    <input type="search" class="form-control " placeholder="" aria-controls="example2" id="quickSearch" onchange="resetCheckboxAndTable()">
                                </label>
                            </div>


                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="example2_filter" class="dataTables_filter">
                            <button class="btn buttons-excel buttons-html5 btn-primary" id="btnRefreshData" tabindex="0" aria-controls="example2" type="button"><span>Refresh</span></button>

                            @if (Model.Menu_GroupPermission.SystemEdit == true || Model.Menu_GroupPermission.PersonalEdit == true)
                            {
                                <button class="btn buttons-excel buttons-html5 btn-primary" id="btnAdd" tabindex="0" aria-controls="example2" type="button"><span>Thêm mới</span></button>
                            }

                            @if (Model.Menu_GroupPermission.SystemDelete == true)
                            {
                                <button class="btn buttons-excel buttons-html5 btn-primary" id="btnDelete" tabindex="0" aria-controls="example2" type="button"><span>Xóa</span></button>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="dtTable" class="table table-bordered dataTable" cellspacing="0"></table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addOrUpdateModal" aria-labelledby="addOrUpdateModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addOrUpdateModalLabel">@Html.Raw("Cập nhật")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formUpdate">
                    <div class="row mb-2">
                        <label for="inputEnterYourName" class="col-sm-4 col-form-label">Mã</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="FormUpdate_Code" placeholder="Mã">
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label for="inputEnterYourName" class="col-sm-4 col-form-label">Tên</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="FormUpdate_Name" placeholder="Tên">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnThucHienLuu"><i class="lni lni-save"></i>@Html.Raw("Lưu")</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="lni lni-ban"></i>@Html.Raw("Đóng")</button>
            </div>
        </div>
    </div>
</div>



@Html.Partial("PartialConfirmDeleteModal")
@Html.Partial("_PartialNotificationModal")
