@using JetMedicalWebApp.Entities.EntityDto
@using JetMedicalWebApp.Common
@model JetMedicalWebApp.Models.PartialViewModel
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="xoamargin">
                    <div class="left_fot">
                        <h3 class="title_fot">@Html.Raw(Model.LanguageId == CommonConstants.TiengViet ? "THÔNG TIN BỆNH VIỆN" : "ADDRESS")</h3>
                        <div class="contant_fot_1">
                            <p><i class="fas fa-map-marked color_blue"></i> Địa chỉ: Xã Tam Hiệp, Huyện Núi Thành, Tỉnh Quảng Nam</p>
                            <p><i class="fas fa-phone-volume color_blue"></i> Hotline: 0967 951 313</p>
                            <p>
                                <i class="fas fa-envelope color_blue"></i> Email: vanthu.bvtwqn@gmail.com
                            </p>
                            <p><i class="fas fa-globe color_blue"></i> Website: https//:www.bvtwqn.vn</p>
                        </div>

                        <div class="thongke">
                            <div class="tructuyen">
                                <h5>Trực tuyến</h5>
                                <p>@System.Web.HttpContext.Current.Application["Totaluser"]</p>
                            </div>
                            <div class="tongtruycap">
                                <h5>Tổng lượt truy cập</h5>
                                <p>@System.Web.HttpContext.Current.Application["hits"]</p>
                            </div>

                        </div>

                    </div>
                    <div class="center_fot">
                        <h3 class="title_fot">@Html.Raw(Model.LanguageId == CommonConstants.TiengViet ? "HƯỚNG DẪN KHÁCH HÀNG" : "CUSTOMER GUIDE")</h3>
                        <div class="category">
                            <ul>
                                @*@if (Model.NewsCategories != null)
                                {
                                    foreach (var item in Model.NewsCategories)
                                    {
                                        @Html.Raw("<li><a href='/" + Utilities.urlConvert(Utilities.VnConcert(item.typeName)) + "/" + Utilities.urlConvert(Utilities.VnConcert(item.name).ToLower()) + "_hd_" + item.id + "' class='lnk-ft'>" + item.name + "</a></li>");
                                    }
                                }*@
                            </ul>
                        </div>
                        <h3 class="title_fot">@Html.Raw(Model.LanguageId == CommonConstants.TiengViet ? "MỤC THÀNH VIÊN" : "MEMBER")</h3>
                        <div class="category">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        Điều khoản sử dụng
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        Chính sách riêng tư
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        Thông tin hỗ trợ
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right_fot">
                        <h3 class="title_fot">FANPAGE</h3>
                        <iframe class="fb_link" allow="encrypted-media" allowtransparency="true" frameborder="0" height="210" scrolling="no" src="https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/bvtwquangnam/&amp;tabs=timeline&amp;height=210&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId"
                                style="border:none;overflow:hidden"></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Footer -->
<div class="ring">
    <a href="tel:0967 951 313">
        <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
            <div class="coccoc-alo-ph-circle"></div>
            <div class="coccoc-alo-ph-circle-fill"></div>
            <div class="coccoc-alo-ph-img-circle"></div>
        </div>
    </a>
</div>