@using JetMedicalWebApp.Common
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#btnExecuteAddNewDataRowCanLamSang').click(function (e) {
            e.preventDefault();

            if (checkFormUpdate_CanLamSang()) {
                var fields = [
                    'MA_DICH_VU',
                    'TEN_CHI_SO',
                    'GIA_TRI',
                    'MO_TA',
                    'KET_LUAN',
                    'NGAY_KQ',
                    'MA_LK'
                ];

                var values = [
                    $('#formAddNewDataRowCanLamSang_MA_DICH_VU').val(),
                    $('#formAddNewDataRowCanLamSang_TEN_CHI_SO').val(),
                    $('#formAddNewDataRowCanLamSang_GIA_TRI').val(),
                    $('#formAddNewDataRowCanLamSang_MO_TA').val(),
                    $('#formAddNewDataRowCanLamSang_KET_LUAN').val(),
                    $('#formAddNewDataRowCanLamSang_NGAY_KQ').val(),
                    $('#FormUpdate_MA_LK').val()
                ];

                var formData = new FormData();

                let filesUpload = $('#formAddNewDataRowCanLamSang_XML4_01').prop('files');

                if (filesUpload != null && filesUpload.length > 0) {
                    formData.append("file", filesUpload[0]);
                }

                formData.append("id", (selectedDataRow != null ? selectedDataRow.Id : ""));
                formData.append("fields", JSON.stringify(fields));
                formData.append("values", JSON.stringify(values));

                var url = "@Url.Action("AddOrUpdate", "XML4", new { area = "Admin" })";

                sendDataFileToURL(url, formData, true, null)
                .then(function (res) {
                    if (res) {
                        notification("top right", "error", "fadeIn animated bx bx-error", "", res);
                    }
                    else {
                        notification("top right", "success", "fadeIn animated bx bx-check-circle", "", "Lưu thành công.");
                        $('#formAddNewDataRowCanLamSang')[0].reset();
                        //$('#modalAddNewDataRowCanLamSang').modal('hide');
                        resetDataCanLamSang();
                    }
                });
            }
        });

        $('#formAddNewDataRowCanLamSang_XML4_01').on('change', function () {
            let filesUploads = $('#formAddNewDataRowCanLamSang_XML4_01').prop('files');
            let fileName = '';

            if (filesUploads != null && filesUploads.length > 0) {
                $.each(filesUploads, function (index, file) {
                    if (!isNullOrEmpty(fileName)) {
                        fileName += '; ';
                    }
                    fileName += file.name;
                });
            }

            $('#formAddNewDataRowCanLamSang_XML4_01_Text').val(fileName);
        });
    });

    function resetDataCanLamSang() {
        selectedDataRow = null;
        tableCanLamSang.draw();
    }
    function checkFormUpdate_CanLamSang() {
        var check = true;
        var error = '';

        if (isNullOrEmpty($('#formAddNewDataRowCanLamSang_TEN_CHI_SO').val())) {
            check = false;
            error = 'Bạn chưa nhập tên chỉ số';
        }

        if (isNullOrEmpty($('#formAddNewDataRowCanLamSang_MA_DICH_VU').val())) {
            check = false;
            error = 'Bạn chưa nhập mã dịch vụ';
        }


        if (isNullOrEmpty($('#formAddNewDataRowCanLamSang_KET_LUAN').val())) {
            check = false;
            error = 'Bạn chưa nhập kết luận';
        }

        if (isNullOrEmpty($('#formAddNewDataRowCanLamSang_MO_TA').val())) {
            check = false;
            error = 'Bạn chưa nhập mô tả';
        }

        if (isNullOrEmpty($('#formAddNewDataRowCanLamSang_NGAY_KQ').val())) {
            check = false;
            error = 'Bạn chưa nhập ngày kết quả';
        }

        if (!check) {
            notification("top right", "error", "fadeIn animated bx bx-error", "", error);
        }

        return check;
    }
</script>


<div class="modal fade" id="modalAddNewDataRowCanLamSang" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header vd_bg-blue vd_white">
                <h5 class="modal-title">@Html.Raw("Cập nhật")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form id="formAddNewDataRowCanLamSang" class="row g-3" action="#" role="form">
                        <div class="col-sm-12">
                            <label class="form-label">@Html.Raw("Mã dịch vụ")</label>
                            <input class="form-control" id="formAddNewDataRowCanLamSang_MA_DICH_VU" type="text">
                        </div>


                        <div class="col-sm-12">
                            <label class="form-label">@Html.Raw("Tên chỉ số")</label>
                            <input class="form-control" id="formAddNewDataRowCanLamSang_TEN_CHI_SO" type="text">

                        </div>
                        <div class="col-sm-12">
                            <label class="form-label">@Html.Raw("Giá trị")</label>
                            <input class="form-control" id="formAddNewDataRowCanLamSang_GIA_TRI" type="text">

                        </div>
                        <div class="col-sm-12">
                            <label class="form-label">@Html.Raw("Mô tả")</label>
                            <input class="form-control" id="formAddNewDataRowCanLamSang_MO_TA" type="text">

                        </div>
                        <div class="col-sm-12">
                            <label class="form-label">@Html.Raw("Kết luận")</label>
                            <input class="form-control" id="formAddNewDataRowCanLamSang_KET_LUAN" type="text">

                        </div>
                        <div class="col-sm-12">
                            <label class="form-label">@Html.Raw("Ngày kết luận")</label>
                            <input class="form-control datepicker" id="formAddNewDataRowCanLamSang_NGAY_KQ" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")">

                        </div>
                        <div class="col-sm-12">
                            <label class="form-label">@Html.Raw("File PDF")</label>
                            <div class="input-group">
                                <input id="formAddNewDataRowCanLamSang_XML4_01" class="form-control" type="file" name="formAddNewDataRowCanLamSang_XML4_01[]" accept="application/pdf">

                            </div>
                        </div>
                        <div class="col-sm-12">
                            <input id="formAddNewDataRowCanLamSang_XML4_01_Text" class="form-control" type="text" readonly>
                        </div>



                    </form>

                </div>
            </div>
            <div class="modal-footer background-login">
                <button type="button" class="btn btn-primary" id="btnExecuteAddNewDataRowCanLamSang">@Html.Raw(" Lưu")</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Html.Raw(" Đóng")</button>
            </div>
        </div>
    </div>
</div>
