@using JetMedicalWebApp.Common
@model JetMedicalWebApp.Areas.Admin.Models.NewsCategoryViewModels
@{
    ViewBag.Title = "Danh mục tin";
}


@{
    Layout = "~/Areas/Admin/Views/Shared/_SnailSoft.cshtml";
}


@section Vendors_CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/DataTables/Responsive-2.2.2/css/responsive.bootstrap.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/content/css/select2.min.css")" />
}

@section HeaderScript{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/customiseDatatable.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/customiseSelect2.css")" type="text/css">
}
@section Vendors_Scripts{
    <script type="text/javascript" src="@Url.Content("~/Content/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/content/ckfinder/ckfinder.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/js/select2.min.js")"></script>
}

@section FooterScript{
    <script type="text/javascript" src="@Url.Content("~/Content/js/customiseDatatable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/customiseSelect2.js")"></script>
}

<script type="text/javascript" charset="utf-8">
    var selectedDataRow = null;
    var table;
    var dataListId = [];
    let userId ='@Model.UsersID';
    let suaHeThong=@if (Model.Menu_GroupPermission.SystemEdit == true) { <text>true</text>} else { <text>false</text>};
    let suaCaNhan=@if (Model.Menu_GroupPermission.PersonalEdit == true) { <text>true</text>} else { <text>false</text>};
    let xemHeThong=@if (Model.Menu_GroupPermission.SystemView == true) { <text>true</text>} else { <text>false</text>};
    let xemCaNhan=@if (Model.Menu_GroupPermission.PersonalView == true) { <text>true</text>} else { <text>false</text>};
    let xoaHeThong=@if (Model.Menu_GroupPermission.SystemDelete == true) { <text>true</text>} else { <text>false</text>};
    let xoaCaNhan=@if (Model.Menu_GroupPermission.PersonalDelete == true) { <text>true</text>} else { <text>false</text>};

    $(document).ready(function () {
        let resizeObserver = new ResizeObserver(() => {
            if (typeof (table) !== 'undefined') {
                table.columns.adjust();
            }
        });
        resizeObserver.observe($('#vdContentContainer')[0]);

        let selectedFields = "id, code, name, typeName, slug, isHome,isactive, odx, parent_ids, ActivePhone, languageId, ISNULL(CreatedUserID,-1) AS CreatedUserID";
        var datatableOption = initialDatatableOption();
        datatableOption.ajax.url = '@Url.Action("GetList", "NewsCategory", new { area = "Admin" })';
        datatableOption.ajax.data = {
            selectedFields: function () {
                return selectedFields;
            },
            stringFilter: function () {
                let stringFilter = '';

                if (!isNullOrEmpty($('#quickSearch').val())) {
                    if (!isNullOrEmpty(stringFilter)) {
                        stringFilter += ' AND ';
                    }

                    var search = $('#quickSearch').val().trim();
                    stringFilter += "(name LIKE N'%" + search + "%')";
                }

                if (!isNullOrEmptySelect2($('#languageId').val())) {
                    if (!isNullOrEmpty(stringFilter)) {
                        stringFilter += ' AND ';
                    }

                    stringFilter += "(languageId = '" + $('#languageId').val() + "')";
                }

                if (xemHeThong == false && (xemCaNhan == true)) {
                    if (!isNullOrEmpty(stringFilter)) {
                        stringFilter += ' AND ';
                    }
                    stringFilter += 'CreatedUserID =' + userId;
                }


                return stringFilter;
            }
        };

        datatableOption.drawCallback = function (settings) {
            table.columns.adjust();
        };

        datatableOption.initComplete = function () {
            this.api().columns().every(function (index) {
                var headerName = $(this.header()).text();
                var column = this;
                if (index == 0) {
                    $(column.header()).html('<div class="controls"><div class="vd_checkbox checkbox-success">\
                                <input type="checkbox" id="checkbox-select-all">\
                                <label for="checkbox-select-all"></label>\
                            </div></div>');
                }

                table.columns.adjust();
            });

            $('#checkbox-select-all').off('change').on('change', function () {
                $('#dtTable tbody input:checkbox[name="checkboxSelected"]').prop('checked', this.checked);
            });
        };

        datatableOption.order = [[4, "ASC"]];
        datatableOption.columnDefs = [
            {
                "targets": "_all",
                "orderable": false
            },
            {
                "targets": [0],
                className: 'dt-body-center',
                "searchable": false
            },
            {
                "targets": [4,5,6,7],
                className: 'dt-body-center'
            },
            {
                "targets": [8],
                className: 'dt-body-center menu-action',
                "orderable": false,
                "searchable": false,
                @if (!Model.Menu_GroupPermission.AllowUpdate)
                    {
                        <text>
                visible: false
                </text>
                    }
            },
            {
                "targets": [9],
                className: 'dt-body-center menu-action',
                "orderable": false,
                "searchable": false,
                @if (!Model.Menu_GroupPermission.AllowDelete)
                    {
                        <text>
                visible: false
                </text>
                    }
            }
        ];

        datatableOption.columns = [
            {
                "width": "20px", "data": "id", "name": "id", "autoWidth": true,
                "render": function (data, type, full, meta) {
                    return '<div class="controls"><div class="vd_checkbox checkbox-success">\
                                <input type="checkbox" id="checkboxSelected_' + full.id + '" name="checkboxSelected">\
                                <label for="checkboxSelected_' + full.id + '"></label>\
                            </div></div>';
                }
            },
            { "data": "typeName", "name": "typeName", "autoWidth": true, "title": "Loại tin" },
            {
                "data": "name", "name": "name", "autoWidth": true, "title": "Danh mục:",
                "render": function (data, type, full, meta) {
                    var space = '';
                    if (!isNullOrEmpty(full.parent_ids)) {
                        space = hienThiPhanBacV2(full.parent_ids.split(',').length);
                    }
                    return '<span>' + space + data + '</span>';
                }
            },

            { "data": "slug", "name": "slug", "autoWidth": true, "title": "Alias" },
            { "data": "odx", "name": "odx", "autoWidth": true, "title": "Odx" },
            {
                "data": "isHome", "name": "isHome", "autoWidth": true, "title": "Home", "render": function (data, type, full, meta) {
                    let content = '<div class="controls"><div class="vd_checkbox checkbox-success">\
                                    <input type="checkbox" id="checkboxActive_' + full.id + '" value="" ' + (data == true ? 'checked' : '') + (suaHeThong == true || (suaCaNhan == true && full.CreatedUserID == userId) ? ' onclick="updateCellDatatable(this)"' : ' disabled' ) + ' data-id="' + full.id + '"' + (data == true ? ' checked ' : '') + ' data-field="isHome" data-value="' + !data + '">\
                                    <label for="checkboxActive_' + full.id + '"></label>\
                                  </div></div>';
                    return content;
                }
            },
            {
                "data": "ActivePhone", "name": "ActivePhone", "autoWidth": true, "title": "Phone", "render": function (data, type, full, meta) {
                    let content = '<div class="controls"><div class="vd_checkbox checkbox-success">\
                                    <input type="checkbox" id="checkboxActivePhone_' + full.id + '" value="" ' + (data == true ? 'checked' : '') + (suaHeThong == true || (suaCaNhan == true && full.CreatedUserID == userId) ? ' onclick="updateCellDatatable(this)"' : ' disabled' ) + ' data-id="' + full.id + '"' + (data == true ? ' checked ' : '') + ' data-field="ActivePhone" data-value="' + !data + '">\
                                    <label for="checkboxActivePhone_' + full.id + '"></label>\
                                  </div></div>';
                    return content;
                }
            },
            {
                "data": "isactive", "name": "isactive", "autoWidth": true, "title": "Active", "render": function (data, type, full, meta) {
                    let content = '<div class="controls"><div class="vd_checkbox checkbox-success">\
                                    <input type="checkbox" id="checkboxIsActive_' + full.id + '" value="" ' + (data == true ? 'checked' : '') + (suaHeThong == true || (suaCaNhan == true && full.CreatedUserID == userId) ? ' onclick="updateCellDatatable(this)"' : ' disabled') + ' data-id="' + full.id + '"' + (data == true ? ' checked ' : '') + ' data-field="isactive" data-value="' + !data + '">\
                                    <label for="checkboxIsActive_' + full.id + '"></label>\
                                  </div></div>';
                    return content;
                }
            },

            {
                "data": "id", "mRender": function (data, type, row, meta) {
                    let html='';
                    if(suaHeThong == true || (suaCaNhan == true && row.CreatedUserID == userId)){
                        html = '<div class="d-flex order-actions"><a data-original-title="edit" data-toggle="tooltip" data-placement="top" onclick=editRow(this) \
                                data-code="' + row.code + '" data-languageid="' + row.languageId + '"\
                                class="btn " href="#!"> <i class="bx bxs-edit"></i> </a></div>';
                    }
                    return html ;
                }, "name": "btnEdit", width: "30px"
            },
            {
                "data": "id", "mRender": function (data, type, row, meta) {
                    let html='';
                    if(xoaHeThong == true ||  (xoaCaNhan == true && row.CreatedUserID == userId)){
                        html = '<div class="d-flex order-actions"><a data-original-title="delete" data-toggle="tooltip" data-placement="top" class="btn " onclick=deleteDataRow(' + row.id + ')> <i class="bx bxs-trash"></i> </a></div>';
                    }
                    return html ;
                }, "name": "btnDelete", width: "30px"
            }
        ]

        table = $('#dtTable').DataTable(datatableOption);

        $('#dtTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }

            selectedDataRow = table.row($(this)).data();
        });

        $("#btnRefreshData").click(function () {
            table.draw();
        });

        $('#btnAdd').click(function () {
            $('#formVN')[0].reset();
            $('#TypeId_VN,#CategoryParentId_VN').val(0).trigger('change');
            $('#modalUpdateNewsCategory').modal('show');
        });

        $('#btnDelete').click(function () {
            dataListId = [];
            dataListId = $(table.$('input:checkbox[name="checkboxSelected"]').map(function () {
                return $(this).prop("checked") ? table.rows($(this).closest('tr')).data()[0].id : null;
            })).toArray();

            if (dataListId.length > 0) {
                $('#confirmDeleteDataRowModal').modal('show');
            } else {
                notification("top right", "info", "fadeIn animated bx bx-info-circle", "", "Bạn chưa chọn dòng nào để xóa.");
            }
        });

        $('#btnExecuteDeleted').click(function (e) {
            e.preventDefault();

            if (dataListId.length > 0) {
                var data = { ids: dataListId };
                var url = "@Url.Action("DeleteByIds", "NewsCategory", new { area = "Admin" })";

                sendDataToURL(url, data, true, null)
                .then(function (res) {
                    if (res) {
                        notification("top right", "error", "fadeIn animated bx bx-error", "", res);
                    }
                    else {
                        if (res == null) {
                            notification("top right", "error", "fadeIn animated bx bx-error", "", "Bạn không được phép thực hiện thao tác này");
                        }
                        else if (res == "") {
                            $('#confirmDeleteDataRowModal').modal('hide');
                            notification("top right", "success", "fadeIn animated bx bx-check-circle", "", "Xóa thành công");
                            resetCheckboxAndDatatable();
                        }
                    }
                });
            }
        });

        $('#languageId').change(function (e) {
            e.preventDefault();
            resetCheckboxAndDatatable();
        });

        $('#selectLanguageId').change(function (e) {
            e.preventDefault();
            if ($('#Id_VN').val() > 0) {
                changeLanguage($('#selectLanguageId').val(), $('#code').val());
            }
        });
    });

    function deleteDataRow(id) {
        dataListId = [id];
        $('#confirmDeleteDataRowModal').modal('show');
    }

    function changeLanguage(languageId, code) {
        var data = {
            selectedFields: "id, title, keywords, descriptions,slug, odx, isactive, ActivePhone, code, name, parentId,parentName, description, typeId, typeName, isHome, banner, languageId",
            stringFilter: "code = N'" + code + "' AND languageId = "+ languageId +" ",
            sortCondition: 'name asc',
            top: 10,
        };

        var url = "@Url.Action("Filter", "NewsCategory", new { area = "Admin" })";

        sendDataToURL(url, data, false, null)
            .then(function (res) {
                $('#Keywords_VN').tagsinput('removeAll');

                if (res && res.length > 0) {
                    res.forEach(function (item, index) {
                        $('#Id_VN').val(item.id);
                        $('#Title_VN').val(item.title);
                        $('#Keywords_VN').tagsinput('add', item.keywords);
                        $('#Descriptions_VN').val(item.descriptions);
                        $('#Name_VN').val(item.name);
                        $('#slug_VN').val(item.slug);
                        $('#odx_VN').val(item.odx);
                        $('#Description_VN').val(item.description);
                        $('#TypeId_VN').append('<option value="' + item.typeId + '" selected>' + item.typeName + '</option>');
                        $('#CategoryParentId_VN').append('<option value="' + item.parentId + '" selected>' + item.parentName + '</option>');
                        $('#IsHome_VN').prop('checked', item.isHome);
                        $('#ActivePhone_VN').prop('checked', item.ActivePhone);
                        $('#isactive_VN').prop('checked', item.isactive);
                        $('#Banner_VN').val(item.banner);
                        $('#imgBanner_VN').attr('src', item.banner);
                    });
                } else {
                    $('#Title_VN').val('');
                    $('#Keywords_VN').val('');
                    $('#Descriptions_VN').val('');
                    $('#Name_VN').val('');
                    $('#slug_VN').val('');
                    $('#odx_VN').val('');
                    $('#Description_VN').val('');
                    $('#TypeId_VN').append('');
                    $('#CategoryParentId_VN').append('');
                    $('#IsHome_VN').prop('checked', false);
                    $('#ActivePhone_VN').prop('checked', false);
                    $('#isactive_VN').prop('checked', false);
                    $('#Banner_VN').val('');
                    $('#imgBanner_VN').attr('src', '');
                }
            }
        );
    }

    function editRow(data) {
        $('#code').val($(data).data('code'));
        changeLanguage($(data).data('languageid'), $(data).data('code'));
        $('#modalUpdateNewsCategory').modal('show');
    }

    function resetCheckboxAndDatatable() {
        table.draw();
        $('#checkbox-select-all').prop('checked', false);
        dataListId = [];
        selectedDataRow = null;
    }

    function updateCellDatatable(that) {
        var data = {
            id : $(that).data("id"),
            fields : [$(that).data("field")],
            values : [$(that).data("value")],
        };

        var url = "@Url.Action("AddOrUpdateList", "NewsCategory", new { area = "Admin" })";

        sendDataToURL(url, data, false, null)
        .then(function (res) {
            if (res) {
                notification("top right", "error", "fadeIn animated bx bx-error", "", res);
            }
        });
    }
</script>

@*<div class="vd_content clearfix">
        @Html.Partial("_PartialContentHeader")

        <div class="vd_content-section clearfix">
            <div class="row">
                <div class="col-md-12 mgbt-md-20 mgbt-lg-0">
                    <div class="panel widget light-widget">
                        <div class="panel-body" id="panelBody">

                            <div class="row d-flex">
                                <div class="col-sm-12 col-md-3 col-lg-2 form-group">
                                    <select id="languageId" name="languageId" class="form-control select2-local" style="height:30px;">
                                        <option value="-1" selected>@Html.Raw("Chọn ngôn ngữ")</option>
                                        @foreach (var item in CommonConstants.GetDanhSachNgonNgu())
                                        {
                                            <option value="@item.Id" @if (item.Id == 1) { <text> selected </text> }>@Html.Raw(item.Name)</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-12 col-md-3 col-lg-2 form-group">
                                    <div class="vd_menu-search table-search input-group input-border" style="width:auto !important;">
                                        <input type="text" id="quickSearch"  class="form-control" placeholder="Tìm kiếm" onchange="resetCheckboxAndDatatable()">
                                        <span class="input-group-addon no-bd no-bg"><i class="fa fa-search"></i> </span>
                                    </div>
                                </div>


                                <div class="col-sm-12 col-md-12 col-lg-12 form-group">
                                    <div class="vd_panel-menu">
                                        <div id="btnRefreshData" class="menu entypo-icon largerFont" data-placement="bottom" data-toggle="tooltip" data-original-title="Làm mới"> <i class="icon-cycle"></i> </div>
                                        @if (Model.Menu_GroupPermission.SystemEdit == true || Model.Menu_GroupPermission.PersonalEdit == true)
                                        {
                                            <div id="btnAdd" class="menu entypo-icon vd_green largerFont" data-placement="bottom" data-toggle="tooltip" data-original-title="Thêm"> <i class="icon-plus3"></i> </div>
                                        }

                                        @if (Model.Menu_GroupPermission.SystemDelete == true)
                                        {
                                            <div id="btnDelete" class="menu entypo-icon vd_red largerFont" data-placement="bottom" data-toggle="tooltip" data-original-title="Xóa"> <i class="icon-trash"></i> </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <table id="dtTable" class="table table-bordered dt-responsive table-hover nowrap" cellspacing="0"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@




@Html.Partial("_PartialContentHeader")

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap5">

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dt-buttons btn-group">
                            <div id="example2_filter" class="dataTables_filter">
                                <label>
                                    Search:
                                    <input type="search" class="form-control " placeholder="" aria-controls="example2" id="quickSearch" onchange="resetCheckboxAndDatatable()">
                                </label>
                            </div>

                            <select class="form-select select2-local ml-2" id="languageId">
                                <option value="-1" selected>@Html.Raw("Chọn ngôn ngữ")</option>
                                @foreach (var item in CommonConstants.GetDanhSachNgonNgu())
                                {
                                    <option value="@item.Id" @if (item.Id == 1) { <text> selected </text> }>@Html.Raw(item.Name)</option>
                                }
                            </select>


                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="example2_filter" class="dataTables_filter">
                            <button class="btn buttons-excel buttons-html5 btn-primary" id="btnRefreshData" tabindex="0" aria-controls="example2" type="button"><span>Refresh</span></button>

                            @if (Model.Menu_GroupPermission.SystemEdit == true || Model.Menu_GroupPermission.PersonalEdit == true)
                            {
                                <button class="btn buttons-excel buttons-html5 btn-primary" id="btnAdd" tabindex="0" aria-controls="example2" type="button"><span>Thêm mới</span></button>
                            }

                            @if (Model.Menu_GroupPermission.SystemDelete == true)
                            {
                                <button class="btn buttons-excel buttons-html5 btn-primary" id="btnDelete" tabindex="0" aria-controls="example2" type="button"><span>Xóa</span></button>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="dtTable" class="table table-bordered dataTable" cellspacing="0"></table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@Html.Partial("PartialConfirmDeleteModal")
@Html.Partial("_PartialNotificationModal")
@Html.Partial("_PatialAddOrUpdateModal")
